* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: rgb(238, 235, 235);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-img {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px 0px gray;
}

.logo {
    width: 50%;
    padding: 5px 0px 5px 10px;
}

.logo-img {
    width: 120px;
}

.navlinks {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    padding: 0px 10px 10px 0px;
    text-align: right;
    color: rgb(30, 14, 106);
    font-size: .80em;
    font-weight: bold;
}

.new-search:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 70px;
}

.intro {
    width: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: .80em;
    padding: 0px 10px 0px 10px;
}

.feature {
    width: 70%;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 20px 10px 20px 10px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
}

form,
label,
input,
select,
.selected-movie {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spacer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.search-init {
    text-decoration: none;
    color: black;
}

input {
    width: 80%;
}

select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: solid 1px gray;
    border-radius: .2em;
}

.overview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-size: .80em;
}

.pointer:hover {
    cursor: pointer;
}

.button {
    text-decoration: none;
    background-color: rgb(68, 38, 216);
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: .80em;
}

.button:hover {
    background-color: rgb(39, 22, 126);
    color: white;
    cursor: pointer;
}

.search-results,
.selected-movie,
.recommendations,
.bottom {
    width: 100%;
}

.movie-block {
    width: 70%;
    background-color: white;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 20px 10px 20px 10px;
    margin: 10px auto 10px auto;
    text-align: center;
}

.hidden {
    display: none;
}

.poster {
    width: 100px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.search-confirm {
    display: block;
    border: solid 1px gray;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}